.hero {
  margin: 43px 0 0;
  position: relative;
}
.hero__wrapper {
  padding: 76px 71px 46px 86px;
}
.hero__grid {
  display: grid;
  grid-template-columns: 27.7% 61.5%;
  grid-template-rows: 1fr 1fr;
  position: relative;
  z-index: 2;
  column-gap: 189px;
  row-gap: 267px;
}
.hero__capital {
  max-width: 378px;
  grid-column: 1;
  grid-row: 1;
}
.hero__capitel-subhead {
  font-weight: 500;
  /* 20-15 */
  font-size: clamp(0.938rem, 0.875rem + 0.31vw, 1.25rem);
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}
.hero__capital-head {
  font-weight: 700;
  /* 71-32 */
  font-size: clamp(2rem, 1.512rem + 2.44vw, 4.438rem);
  line-height: 1.18182;
  margin-bottom: 23px;
}
.hero__capital-text {
  font-weight: 700;
  /* 71-32 */
  font-size: clamp(2rem, 1.512rem + 2.44vw, 4.438rem);
  line-height: 1.18182;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.63636;
  letter-spacing: -0.03em;
}
.hero__vision {
  max-width: 422px;
  grid-column: 1;
  grid-row: 2;
}
.hero__vision-subhead {
  font-weight: 500;
  /* 24-16 */
  font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
  line-height: 1;
  color: var(--text-black);
  margin-bottom: 29px;
}
.hero__vision-head {
  font-weight: 500;
  /* 50-26 */
  font-size: clamp(1.625rem, 1.325rem + 1.5vw, 3.125rem);
  line-height: 1.12;
  letter-spacing: -0.02em;
  margin-bottom: 29px;
}
.hero__craft {
  grid-column: 2;
  grid-row: 1/3;
}
.hero__craft-head {
  font-weight: 700;
  /* 153-38 */
  font-size: clamp(2.375rem, 0.938rem + 7.19vw, 9.563rem);
  line-height: 1.07;
  letter-spacing: -0.04em;
  margin-bottom: 41px;
}
.hero__craft-img-wrapper {
  border-radius: 56px;
  width: 100%;
  height: 712px;
  overflow: hidden;
}
.hero__craft-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__background-shape {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1800px;
  height: 100%;
  z-index: 1;
}
.hero__background-shape svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 1830px) {
  .hero__background-shape {
    left: 15px;
    transform: none;
    width: calc(100% - 30px);
    max-width: none;
    border-radius: 80px;
    overflow: hidden;
  }
}
@media (max-width: 1650px) {
  .hero {
    position: static;
  }
  .hero__wrapper {
    padding: 76px 50px 46px 50px;
    background-color: var(--bg);
    border-radius: 80px;
  }
  .hero__craft-img-wrapper {
    border-radius: 56px;
    width: 100%;
    height: 573px;
    overflow: hidden;
  }
  .hero__background-shape {
    display: none;
  }
  .hero__grid {
    display: grid;
    grid-template-columns: 27.7% 66.5%;
    grid-template-rows: 1fr 1fr;
    position: static;
    z-index: 0;
    column-gap: 85px;
    row-gap: 100px;
  }
}
@media (max-width: 1440px) {
  .hero__wrapper {
    padding: 76px 30px 46px 30px;
    border-radius: 60px;
  }
  .hero__craft-img-wrapper {
    height: 500px;
    border-radius: 40px;
  }
  .hero__grid {
    display: grid;
    grid-template-columns: 28.7% 63.5%;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
  }
}
@media (max-width: 1024px) {
  .hero__grid {
    display: flex;
    flex-direction: column;
  }
  .hero__capital {
    width: 100%;
    max-width: none;
    order: 1;
  }
  .hero__vision {
    width: 100%;
    max-width: none;
    order: 2;
  }
  .hero__craft {
    width: 100%;
    max-width: none;
    order: 0;
  }
}
@media (max-width: 991px) {
  .hero__wrapper {
    padding: 50px 30px 30px 30px;
    border-radius: 60px;
  }
}
@media (max-width: 768px) {
  .hero {
    margin: 25px 0 0;
  }
  .hero__wrapper {
    padding: 50px 30px 30px 30px;
    border-radius: 30px;
  }
  .hero__craft-img-wrapper {
    height: 320px;
    border-radius: 30px;
  }
}
@media (max-width: 650px) {
  .hero__craft-img-wrapper {
    height: 220px;
    border-radius: 15px;
  }
}
@media (max-width: 550px) {
  .hero__craft-img-wrapper {
    height: 200px;
  }
  .hero__wrapper {
    padding: 30px 20px;
    border-radius: 30px;
  }
  .hero__craft-head {
    margin-bottom: 25px;
  }
}
