.nav {
  background-color: var(--bg);
  border-radius: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 62px;
}

.nav__list {
  display: flex;
  gap: 50px;
}
.nav__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  color: var(--logo-dark-blue);
  transition: all 0.2s ease-in-out;
  position: relative;
}

.nav__link-active::after {
  display: block;
  background-color: #141313;
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -11px;
  transition: all 0.2s ease-in-out;
}
body[data-theme="medium"] .nav__link-active::after,
body[data-theme="dark"] .nav__link-active::after {
  background-color: var(--white);
}
.nav__button-link {
  display: block;
  border-radius: 50px 100px 100px 50px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  color: var(--bg-page);
  background-color: var(--text);
  padding: 34px 43px 33px 33px;
  transition: all 0.2s ease-in-out;
}
body[data-theme="medium"] .nav__button-link,
body[data-theme="dark"] .nav__button-link {
  background-color: var(--white);
}
.nav__button-link:hover {
  background-color: var(--hover);
}
.header__mobile {
  padding: 13px 5px;
  position: relative;
  z-index: 3;
  width: 50px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
}
.header__mobile span {
  transition: all 0.2s ease-in-out;
  display: block;
  height: 3px;
  width: 100%;
  margin-bottom: 7px;
  background-color: var(--logo-dark-blue);
  border-radius: 13px;
  position: relative;
}
.header__mobile.active span:first-child {
  transform: rotate(45deg);
  top: 10px;
}
.header__mobile.active span:nth-child(2) {
  opacity: 0;
}
.header__mobile.active span:last-child {
  transform: rotate(-45deg);
  top: -10px;
}
@media (min-width: 992px) {
  body[data-theme="medium"] .nav,
  body[data-theme="dark"] .nav {
    background-color: var(--dark-blue-opacity);
  }
}
@media (max-width: 1024px) {
  .nav {
    border-radius: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 30px;
  }
}
@media (max-width: 991px) {
  .backdrop.backdrop-active {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .nav {
    background-color: var(--bg-page);
    position: absolute;
    transition: all 0.2s ease-in-out;
    top: 15px;
    right: 0;
    height: 97vh;
    border-radius: 20px 0 0 20px;
    z-index: 2;
    padding: 30px 30px;
    flex-direction: column;
    justify-content: flex-start;
    width: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .nav.nav-active {
    background-color: var(--bg-page);
    width: 75vw;
    visibility: visible;
  }
  .nav__logo-mob {
    width: 200px;
    height: 87px;
  }
  .nav__logo-mob svg {
    width: 100%;
    height: 100%;
  }
  .nav__logo {
    width: 200px;
    height: 100px;
    margin-bottom: 30px;
  }
  .nav__logo svg {
    width: 100%;
    height: 100%;
  }
  .nav__list {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
    text-align: center;
  }
  .nav__link {
    font-weight: 500;
    font-size: 24px;
    position: relative;
  }
  .nav__link::after {
    display: none;
  }
  .nav__button-wrapper {
    width: 100%;
  }
  .nav__button-link {
    border-radius: 30px;
    font-size: 24px;
    padding: 30px 10px;
    width: 100%;
    text-align: center;
  }
  .header__nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
}
@media (max-width: 650px) {
  .nav.nav-active {
    width: calc(100vw - 15px);
  }
  .nav__button-link {
    border-radius: 23px;
    font-size: 24px;
    padding: 18px 10px;
    width: 100%;
    text-align: center;
  }
  .nav {
    align-items: flex-start;
  }
}
@media (max-width: 400px) {
  .nav__logo-mob {
    width: 157px;
    height: 66px;
    margin-bottom: 0;
  }
  .nav {
    padding: 20px 30px;
    align-items: flex-start;
  }
  .nav__logo {
    width: 157px;
    height: 66px;
    margin-bottom: 25px;
  }
  .nav__list {
    text-align: left;
    gap: 26px;
    margin-bottom: 30px;
  }
  .header__mobile {
    padding: 9px 0px;
    width: 40px;
    height: 40px;
  }
  .header__mobile span {
    margin-bottom: 6px;
  }
  .nav__button-link {
    border-radius: 12px;
    font-size: 21px;
    padding: 13px 10px;
  }
  .header__mobile.active span:last-child {
    top: -8px;
  }
}
