.theme-toggle {
  position: fixed;
  bottom: 30px;
  right: calc((100vw - 1800px) / 8);

  overflow: hidden;
  border-radius: 100px;
  display: flex;
  border: 4px solid rgba(225, 225, 225, 0.47);
}
.theme-toggle___btn {
  padding: 15px 30px;
  background-color: var(--black);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-size: 32px;
}
.theme-toggle___btn:hover {
  background-color: var(--dark-blue);
}
.theme-toggle___btn.active {
  background-color: var(--new-dark-blue);
}
@media (max-width: 1800px) {
  .theme-toggle {
    right: 50px;
  }
  .theme-toggle___btn {
    padding: 10px 25px;
    font-size: 26px;
  }
}
@media (max-width: 650px) {
  .theme-toggle {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    bottom: 10px;
  }
  .theme-toggle___btn {
    padding: 5px 15px;
    background-color: var(--black);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 22px;
  }
}
