:root {
  --white: #fff;
  --white-gray: #f7f8f8;
  --dark-blue: #050f27;

  --bg-page: var(--white);
  --bg: var(--white-gray);
  --text: var(--dark-blue);
}
body {
  font-family: "Satoshi-Variable", sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1830px;
  padding: 0 15px;
}
.page {
  padding: 42px 0;
}
