:root {
  --black: var(--black);
  --white: #fff;
  --white-gray: #f7f8f8;
  --dark-blue: #050f27;
  --dark-blue-bg: #111b31;
  --new-dark-blue: #1d263c;
  --dark-blue-hover: rgba(5, 15, 39, 0.9);

  --bg-page: var(--white);
  --bg: var(--white-gray);
  --text: var(--dark-blue);
  --hover: var(--dark-blue-hover);
  --logo-dark-blue: var(--dark-blue);
  --logo-blue: var(--new-dark-blue);
  --text-black: var(--black);
  --bg-block: var(--dark-blue-bg);
}
body {
  font-family: "Satoshi-Variable", sans-serif;
  color: var(--dark-blue);
}
body.hidden {
  overflow: hidden;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1830px;
  padding: 0 15px;
}
.page {
  padding: 42px 0;
}
@media (max-width: 991px) {
  .page {
    padding: 0;
  }
}
@media (max-width: 550px) {
  .container {
    padding: 0 10px;
  }
}
